
        <div class="field">
            <%= form.label :country %>
            <%= form.text_field :country %>
        </div>

        <div class="field">
            <%= form.label :city %>
            <%= form.text_field :city %>
        </div>

        <div class="field">
            <%= form.label :place_name, 'Place address' %>
            <%= form.text_field :place_name %>
        </div>
