<table>
    <thead>
        <tr>
            <th >Full Name</th>
            <th>ID Number</th>
            <th>Role</th>
            <th>E-mail</th>
            <th>Phone Number</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th colspan="2" >Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <% unless user.admin? %>
                <% if user != current_user %>
                    <tr>
                        <td><%= user.full_name %></td>
                        <td><%= user.id_number %></td>
                        <td>
                            <%= user.admin? ? 'Administrator' : 'Client' %>
                        </td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                        <td><%= user.created_at %></td>
                        <td><%= user.updated_at %></td>
                        <td class="td-update"> 
                            <%= link_to edit_user_path(user), class: 'update' do %>
                                <i class="bi bi-pencil-fill"></i>
                            <% end %>
                        </td>
                        <td class="td-destroy"> 
                            <%= link_to user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'destroy' do%>
                                <i class="bi bi-trash3-fill"></i>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>