<%= form_with(model: [@reserve_room], local: true) do |form| %>
    <div class="row">
        <div class="col">
            <div class="field">
                <%= form.label :room_number %>
                <%= form.text_field :room_number, value: @room.code, readonly: true %>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="field">
                <%= form.label :guest_name %>
                <%= form.text_field :guest_name, value: current_user.full_name, readonly: true %>
            </div>
        </div>
        <div class="col">
            <div class="field">
                <%= form.label :guest_email %>
                <%= form.email_field :guest_email, value: current_user.email, readonly: true %>
            </div>
        </div>
    </div><br/>

    <div class="row">
        <hr class="divider">
    </div> <br/>

    <div class="row">
        <div class="col">
            <div class="field">
                <%= form.label :check_in_date %>
                <%= form.date_field :check_in_date, value: (Date.today + 5.days).strftime("%Y-%m-%d"), class: "custom-date-field" %>
            </div>
        </div>
        <div class="col">
            <div class="field">
                <%= form.label :check_out_date %>
                <%= form.date_field :check_out_date, value: (Date.today + 5.days).strftime("%Y-%m-%d"), class: "custom-date-field" %>
            </div>
        </div>
    </div>

    <div class="field-description">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div class="field-amount">
        <%= form.label :amount %>
        <%= form.number_field :amount, value: total_price_cal(@room.price_per_night), readonly: true %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>