<%= form_with(model: @reserve_room, local: true) do |form| %>
  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.label :check_in_date %>
        <%= form.date_field :check_in_date, value: @reserve_room.start_date, class: "custom-date-field", readonly: true %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label :check_out_date %>
        <%= form.date_field :check_out_date, value: @reserve_room.end_date, class: "custom-date-field", readonly: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.label :room_number %>
        <%= form.text_field :room_number, value: @room.code, readonly: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.label :first_name %>
        <%= form.text_field :guest_name, value: current_user.full_name, readonly: true %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label :email %>
        <%= form.email_field :guest_email, value: current_user.email, readonly: true %>
      </div>
    </div>
  </div>
  <br/>
  <p class="sel-title">Fill description and payment information</p>
  <div class="row">
    <hr class="divider">
  </div>
  <br/>
  <div class="field-description">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field-amount">
    <%= form.label :total_amount %>
    <%= form.number_field :total_amount, value: @reserve_room.total_amount, readonly: true %>
  </div>
  <div class="actions">
    <%= link_to "Continue", reserve_rooms_path, class: "btn btn-primary" %>
  </div>
<% end %>