<%= form_with(model: [@reserve_room, @payment], local: true) do |form| %>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :payment_method %>
    <%= form.select :payment_method, Payment.payment_methods.keys.map { |method| [method.humanize, method] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


    <div class="field">
        <%= form.label :payment_method %>
        <%= form.select :payment_method, options_for_select(['Credit Card', 'Debit Card', 'PayPal']) %>
    </div>
