<section class="sec-login">
  <div class="main-title">
    <h2>Sign in</h2>
  </div>

  <div class="form-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
            <div class="inline-field">
              <div class="check-box">
                <%= f.check_box :remember_me %>
              </div>
              <div class="remember-me">
                <%= f.label :remember_me %>
              </div>
            </div>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>

      <div class="devise-shared-links">
         <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      </div>
    <% end %>
  </div>
</section>


