<%= form_with(model: @rooms, local: true) do |form| %>
    <% if @room.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

            <ul>
                <% @room.errors.full_messages.each do |message| %>
                <li><%= message %></li>
    <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col-md-6">
            <div class="field">
                <%= form.label :room_type %>
                <%= form.select :room_type, Room.room_types.keys.map { |room_types| [room_types.humanize, room_types] }, {}, class: "container-room-type" %>
            </div>
            <div class="field">
                <%= form.label :phone %>
                <%= form.text_field :phone %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="field">
                <%= form.label :last_name %>
                <%= form.text_field :last_name %>
            </div>
            <div class="field">
                <%= form.label :email %>
                <%= form.text_field :email %>
            </div>
        </div>
    </div>
    <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div class="first-image-field" id="image-fields">
        <div class="field">
            <%= form.label :image %>
            <%= form.file_field :image %>
        </div>
    </div>

    <button type="button" onclick="addImageField()">
        <i class="bi bi-plus-circle-fill"></i>
    </button>

    <script>
        function addImageField() {
            var imageFields = document.getElementById("image-fields");
            var imageFieldCount = imageFields.childElementCount;
            if (imageFieldCount < 3) {
                var newImageField = document.createElement("div");
                newImageField.innerHTML = `
                    <div class="field">
                        <%= form.label :image %>
                        <%= form.file_field :image %>
                        <button type="button" onclick="deleteImageField(this)">
                            <i class="bi bi-dash-circle-fill"></i>
                        </button>
                    </div>
                `;
                imageFields.appendChild(newImageField);
            }
        }

        function deleteImageField(button) {
            var imageField = button.parentNode;
            imageField.parentNode.removeChild(imageField);
        }
    </script>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>