<table>
    <thead>
        <tr>
            <th>Hotel</th>
            <th>Room</th>
            <th>Type</th>
            <th>Capacity</th>
            <th>Beds</th>
            <th>Price</th>
            <th>Status</th>
            <th>No.Reservations</th>
            <th>No.Comments</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @rooms.sort_by { |room| room.hotel.name }.each do |room| %>
            <td><%= room.hotel.name %></td>
            <td><%= room.code %></td>
            <td><%= room.room_type.capitalize %></td>
            <td><%= room.capacity %></td>
            <td><%= room.beds %></td>
            <td><%= room.price_per_night %></td>
            <td><%= room.status ? 'Booked' : 'Available' %></td>
            <td> </td>
            <td> </td>
            <td class="td-update"> 
                <%= link_to edit_room_path(room), class: 'update' do %>
                    <i class="bi bi-pencil-fill"></i>
                <% end %>
            </td>
            <td class="td-destroy"> 
                <%= link_to room_path(room), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"},  class: 'destroy' do%>
                    <i class="bi bi-trash3-fill"></i>
                <% end %>
            </td>
            </tr>
        <% end %>
    </tbody>
</table>