<table>
    <thead>
        <tr>
            <th>Hotel</th>
            <th>Room</th>
            <th>Type</th>
            <th>Capacity</th>
            <th>Beds</th>
            <th>Price</th>
            <th>Status</th>
            <th>No.Reservations</th>
            <th>No.Comments</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @rooms.each do |room| %>
            <tr>
                <td><%= room.hotel.name %></td>
                <td><%= room.code %></td>
                <td><%= room.room_type %> <%= room.id %> </td>                               
                <td><%= room.capacity %></td>
                <td><%= room.beds %></td>
                <td><%= room.price_per_night %></td>
                <td><%= room.status %></td>
                <td> </td>
                <td> </td>
                <td class="td-update"> 
                     <a class="update" 
                     href="/rooms/<%= room.id %>/update">
                        <i class="bi bi-pencil-fill"></i>
                    </a> 
                </td>
                <td class="td-destroy"> 
                    <a class="destroy" 
                    href="/rooms/<%= room.id %>/destroy">
                        <i class="bi bi-trash3-fill"></i>
                    </a> 
                </td>
            </tr>
        <% end %>
    </tbody>
</table>