<%= form_with(model: @hotel, local: true, html: { multipart: true }) do |form| %>
    <div class="row">
        <div class="col-md-6">
            <div class="field">
                <%= form.label :name %>
                <%= form.text_field :name %>
            </div>
            <div class="field">
                <%= form.label :phone %>
                <%= form.text_field :phone %>
            </div>
            <div class="field">
                <%= form.label :email %>
                <%= form.text_field :email %>
            </div>
        </div>
        <div class="col-md-6">
        <div class="container-address">
            <%= form.fields_for :address do |address_form| %>
                <%= render 'address/form', form: address_form %>
            <% end %>
        </div>
    </div>
</div>
    <div class="field-description">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div class="first-image-field" id="image-fields">
        <%= form.label :images %>
        <div class="field">
            <%= form.file_field :images, multiple: true, class: "img-select" %>
        </div>
    </div>

    <div class="add-btn">
        <button type="button" onclick="addImageField()">
            <i class="bi bi-plus-circle-fill"></i>
        </button>
    </div>
    <script>
        function addImageField() {
            var imageFields = document.getElementById("image-fields");
            var imageFieldCount = imageFields.childElementCount;
            if (imageFieldCount < 4) {
                var newImageField = document.createElement("div");
                newImageField.innerHTML = `
                    <div class="field">
                        <input type="file" name="hotel[images][]" class="img-select">
                        <button type="button" onclick="deleteImageField(this)">
                            <i class="bi bi-dash-circle-fill"></i>
                        </button>
                    </div>
                `;
                imageFields.appendChild(newImageField);
            }
        }

        function deleteImageField(button) {
            var imageField = button.parentNode;
            imageField.parentNode.removeChild(imageField);
        }
    </script>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>