<section class="sec-catalog">
    <div class="main-title">
        <h2>Hotels Catalog</h2>
    </div>

    <div class="hotels-container">
        <div class="pages-hotels">
            <%= paginate @hotels %>
        </div>
        <% @hotels.each do |hotel| %>
            <div class="card">
                <div class="row">
                    <div class="col-md-6 info">
                        <div class="card-body">
                            <h5 class="card-title"><%= hotel.name %></h5>
                            <div class="contact-info">
                                <p class= "card-text"><%= hotel.phone%></p>
                                <p class= "card-text"><%= hotel.email%></p>
                            </div>
                            <div class="container-with-label">
                                <label>Address :</label>
                                <p class="card-text"><%= hotel.address.compound_address %>
                            </div>

                            <div class="container-with-label">
                                <label>About :</label>
                                <p class="card-text"><%= hotel.description %></p>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="container">
                                        <label>Rate :</label>
                                        <p class="card-text"><%= hotel.rating %></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <label>Rooms :</label>
                                        <p class="card-text"><%= hotel.rooms.count %></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="container">
                                        <label>Night Price :</label>
                                        <p class="card-text">$ <%= hotel.rooms.minimum(:price_per_night).to_i %> - $ <%= hotel.rooms.maximum(:price_per_night).to_i %></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 reserve">
                                        <%= link_to 'Reserve', hotel_path(hotel.id), class: 'btn' %>
                                </div>
                            </div>                    
                        
                        </div>
                    </div>
                    <div class="col-md-6 image">
                        <div id="carouselExample<%= hotel.id %>" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <% hotel.images.limit(3).each_with_index do |image, index| %>
                                    <div class="carousel-item <%= 'active' if index == 0 %>">
                                        <%= image_tag image %>
                                    </div>
                                <% end %>
                            </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample<%= hotel.id %>" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample<%= hotel.id %>" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                        </div>
                    </div>
                </div> 
            </div>
        <% end %>
    </div>
</section>