<section class="sec-select-room">

    <div class="main-title">
        <h2><%= @hotel.name %></h2>
    </div>

    <p><strong>Address:</strong> <%= @hotel.address %></p>
    <p><strong>Phone:</strong> <%= @hotel.phone %></p>
    <p><strong>Email:</strong> <%= @hotel.email %></p>

    <section class="sec-available-rooms">
        <h3>Select a room</h3>

        <div class="container">
            <div class="row">
                <% if @hotel.rooms.any? { |room| room.room_type == 'economic' } %>
                    <div class="col">
                    <h2>Economic</h2>
                    <% @hotel.rooms.each do |room| %>
                        <% if room.room_type == 'economic' %>
                        <div>
                            <h3><%= room.code %></h3>
                            <p><strong>Capacity:</strong> <%= room.capacity %></p>
                            <p><strong>Price:</strong> <%= room.price_per_night %></p>
                        </div>
                        <% end %>
                    <% end %>
                    </div>
                <% end %>

                <% if @hotel.rooms.any? { |room| room.room_type == 'premium' } %>
                    <div class="col">
                    <h2>Premium</h2>
                    <% @hotel.rooms.each do |room| %>
                        <% if room.room_type == 'premium' %>
                        <div>
                            <h3><%= room.code %></h3>
                            <p><strong>Capacity:</strong> <%= room.capacity %></p>
                            <p><strong>Price:</strong> <%= room.price_per_night %></p>
                        </div>
                        <% end %>
                    <% end %>
                    </div>
                <% end %>

                <% if @hotel.rooms.any? { |room| room.room_type == 'luxury' } %>
                    <div class="col">
                    <h2>Luxury</h2>
                    <% @hotel.rooms.each do |room| %>
                        <% if room.room_type == 'luxury' %>
                        <div>
                            <h3><%= room.code %></h3>
                            <p><strong>Capacity:</strong> <%= room.capacity %></p>
                            <p><strong>Price:</strong> <%= room.price_per_night %></p>
                        </div>
                        <% end %>
                    <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </section>
</section>