    <% resource_name = :user %>
    <% resource = User.new %>
    <% devise_mapping = Devise.mappings[:user] %>

    <nav>
        <div class="column links">
            <ul>
                <li class="first-links">
                    <a class="link-nav" href="/">
                    <i class="bi bi-gem"></i>
                    </a>
                <% if user_signed_in? %>
                    <% if current_user.client?%>
                        <li class="dropdown">
                            <a class="link-nav" href="/hotels" aria-expanded="false">
                                Hotels Catalog
                            </a>
                        </li>
                    <% else%>
                        <li class="dropdown">
                            <%= link_to 'Users', users_path, class: 'link-nav', aria: { expanded: false } %>
                        </li> 
                        <li class="dropdown">
                             <%= link_to 'Hotels Catalog', hotels_path, class: 'link-nav', aria: { expanded: false } %>
                        </li> 
                        <li class="dropdown">
                             <%= link_to 'My Hotel', rooms_path, class: 'link-nav', aria: { expanded: false } %>
                        </li> 
                        <li class="dropdown">
                            <%= link_to 'Reservations', reserve_rooms_path, class: 'link-nav', aria: { expanded: false } %>
                        </li>
                    <% end %>
                <% else %>

                <% end %>  
            </ul> 
        </div>
        <div class="column log-btns">
            <% if user_signed_in? && %>
            <div class="btn-container">
                <div class="container-fluid">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">                    
                            <i class="bi bi-person-circle"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                           <span class="ms-2"> <%= current_user.full_name %></span>
                                <li><%= link_to 'Profile', edit_registration_path(current_user), class: 'nav-link' %></li>
                                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
                        </ul>
                    </div>
                </div>
            </div>
            <% else %>
                <div class="btn-container">
                    <% if request.path == new_session_path(resource_name) %>
                        <div class="btn-sign-up">
                            <%= link_to 'Sign Up', new_registration_path(resource_name), class: 'btn' %>
                        </div>
                    <% elsif request.path == new_registration_path(resource_name) || request.path == user_registration_path %>
                        <div class="btn-sign-in">
                            <%= link_to 'Sign In', new_session_path(resource_name), class: 'btn' %>
                        </div>    
                    <% else %>
                        <div class="btn-sign-up">
                            <%= link_to 'Sign Up', new_registration_path(resource_name), class: 'btn' %>
                        </div> 
                        <div class="btn-sign-in">
                            <%= link_to 'Sign In', new_session_path(resource_name), class: 'btn' %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </nav>